/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

a{
	text-decoration:none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*----- BASIC STYLING -----*/

#container{
	width: 600px;
	margin: 30px auto;
	padding: 20px 30px 50px;
	border: 1px solid #ccc;
	background: #FFF;
	
}

body{
	font-family: Arial;
	background: #e8e8e8;
}

p{
	margin: 5px 0px 10px;
	line-height: 1.2em;
}


h1{
	font-size:2em;
	margin: 20px 0px 20px ;
}

h2{
	font-size:1.3em;
	margin: 20px 0px 10px ;	
}

h3{
	font-size:1.1em;
	margin: 20px 0px 5px;
}

ol{
	list-style-type: decimal;
	list-style-position: outside;
	padding:10px 20px;
}

li{
	margin: 0px 0px 20px;
}
small{
	font-size: 0.7em;
}

/*----- BASIC ALIGNMENT -------*/

.align-right{
	float: right;
	margin: 5px 10px 10px 0px;
}

.align-left{
	float: left;
	margin: 5px 0px 10px 10px;
}
.align-center{
	clear: both;
	text-align: center;
	margin: 5px 0px;
}

/*----- SYSTEM DEV INTERFACE -------*/

.msg {
	background: #ddd;
	color: #333;
}
.error {
	background: #Fdd;
	color: #500;	
}

.ok {
	background: #dfd;
	color: #050;
}
